.center {
  display: block;
  text-align: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.button {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 32px;
    background-color: aqua;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}